doctype
html(lang="ja")
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    link(rel="stylesheet", href=css)
  body
    #freezetime_hud
      section#round_history_panel
        h2
          span#ordinal_number 1ST
          | HALF
        ul#round_history
          //li
            .inner
              .left
                img.ct_win_elimination(src="/huds/FREEZETIME_HUD/img/round/ct/kill.png")
              .round 1
              .right
          //li
            .inner
              .left
              .round 1
              .right
                img.t_win_elimination(src="/huds/FREEZETIME_HUD/img/round/t/kill.png")
          //li
            .inner
              .left
              .round 1
              .right
                img.t_win_bomb(src="/huds/FREEZETIME_HUD/img/round/exploded.png")
          //li
            .inner
              .left
                img.ct_win_defuse(src="/huds/FREEZETIME_HUD/img/round/defused.png")
              .round 1
              .right
          //li
            .inner
              .left
                img.ct_win_time(src="/huds/FREEZETIME_HUD/img/round/time.png")
              .round 1
              .right
          - for (let i = 1; i <= 15; i++)
            li
              .inner
                .left
                .round #{i}
                .right
      #team_info_panel
        #score_bar
          .team1.team(data-team="CT")
            .name TEAM
            .score 5
          .vs VS
          .team2.team(data-team="T")
            .name TEAM
            .score 0
        #team_money_panel
          ul.team1.team
            - for (let i = 1; i <= 5; i++)
              li(data-team="CT")
                .name NAMENAMENAMENAMENAMENAMENAME
                .weapons
                  img.primary(src="/files/img/weapons/ak47.png")
                  img.secondary(src="/files/img/weapons/glock.png")
                  img.grenade(src="/files/img/grenades/weapon_flashbang.png")
                  img.grenade(src="/files/img/grenades/weapon_flashbang.png")
                  img.grenade(src="/files/img/grenades/weapon_molotov.png")
                  img.grenade(src="/files/img/grenades/weapon_hegrenade.png")
                  img.armor(src="/files/img/helmet.png")
                .money $4550
          .center_panel
            .team1.team
              .equipment_value
                img(src="/huds/FREEZETIME_HUD/img/equipment.png")
                span $16000
              .team_money
                img(src="/huds/FREEZETIME_HUD/img/team.png")
                span $16000
            .logo
              img(src="/huds/FREEZETIME_HUD/img/logo.png")
            .team2.team
              .equipment_value
                img(src="/huds/FREEZETIME_HUD/img/equipment.png")
                span $16000
              .team_money
                img(src="/huds/FREEZETIME_HUD/img/team.png")
                span $16000
          ul.team2.team
            - for (let i = 1; i <= 5; i++)
              li(data-team="T")
                .name NAMENAMENAMENAMENAMENAMENAME
                .weapons
                  img(src="/files/img/weapons/ak47.png")
                  img(src="/files/img/weapons/glock.png")
                  img(src="/files/img/grenades/weapon_flashbang.png")
                  img(src="/files/img/grenades/weapon_flashbang.png")
                  img(src="/files/img/grenades/weapon_molotov.png")
                  img(src="/files/img/grenades/weapon_hegrenade.png")
                  img.armor(src="/files/img/helmet.png")
                .money $4550
    script(src="/js/main.js")
    script(src=hud)
